{% load wagtailcore_tags wagtailimages_tags %}
{% load widget_tweaks %}
{% load webapp_0_tags %}
{% load static %}

  <!--=== Call to Action Start ======-->
  <section class="pt-50 pb-50 dark-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="cta-heading-left">
            <p class="subtitle mt-20">careers</p>
            <h3>Let's write your story, together.</h3>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
          <div class="cta-heading-right">
            <p class="mt-20 content-text">We do not tell you our story. We write it together. Partnering with us means a seat at the table where you will be heard.</p>
            <p class="mt-50"><a class="btn btn-rounded btn-color">Contact Us</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=== Call to Action End ======-->