{% load i18n wagtailcore_tags wagtailimages_tags %}
{% load widget_tweaks %}
{% load webapp_0_tags %}
{% load static %}
{% load menu_tags %}




  <!--=== Header Start ===-->
  <nav class="navbar navbar-default navbar-fixed navbar-transparent white bootsnav on no-full">
    <!--=== Start Top Search ===-->
    <div class="fullscreen-search-overlay" id="search-overlay"> <a href="index.html#" class="fullscreen-close" id="fullscreen-close-button"><i class="icofont icofont-close"></i></a>
      <div id="fullscreen-search-wrapper">
        <form method="get" id="fullscreen-searchform">
          <input type="text" value="" placeholder="Type and hit Enter..." id="fullscreen-search-input" class="search-bar-top">
          <i class="icofont icofont-search-1 fullscreen-search-icon">
          <input value="" type="submit">
          </i>
        </form>
      </div>
    </div>
    <!--=== End Top Search ===-->

    <div class="container">
      <!--=== Start Atribute Navigation ===-->
      <div class="attr-nav">
        <ul>
          <li class="dropdown"> <a href="index.html#" class="dropdown-toggle" data-toggle="dropdown" > <i class="icofont icofont-earth"></i>  </a>
            <ul class="dropdown-menu cart-list">
              <li>
                {% for language_code, language_name in LANGUAGES %}
                {% get_language_info for language_code as lang %}
                {% language language_code %}
                <a href="{% pageurl page.localized %}" rel="alternate" hreflang="{{ language_code }}">
                 <h5> {{ lang.name_local }}</h5>
                 </a>
                 {% endlanguage %}
                 {% endfor %}
              </li>
            </ul>
          </li>
     
          <li class="search"><a href="index.html#" id="search-button"><i class="icofont icofont-user"></i>Login</a></li>
        </ul>

      </div>
      <!--=== End Atribute Navigation ===-->

      <!--=== Start Header Navigation ===-->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="icofont icofont-navigation-menu"></i> </button>
        <div class="logo"> <a href="index.html"> <img class="logo logo-display" src="{% static 'assets/images/logo_smartquailWhite.png' %}" alt=""> <img class="logo logo-scrolled" width="250px" height="100px" src="{% static 'img/logo_smartquailgray.png' %}" alt=""> </a> </div>
      </div>
      <!--=== End Header Navigation ===-->

      <!--=== Collect the nav links, forms, and other content for toggling ===-->
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav" data-in="fadeIn" data-out="fadeOut">
          <li class="dropdown megamenu-fw"> <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">Productos</a>
            <ul class="dropdown-menu megamenu-content" role="menu">
              <li>
                <div class="row">
                  <div class="col-menu col-md-3">
                    {% smartbusinessmedia_menus as menus %}
                    {% for menu in menus %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/index/navbar/products/smartbusinessmedia.html" %}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="col-menu col-md-3">
                    {% smartbusinessanalytics_menus as menus2 %}
                    {% for menu in menus2 %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/index/navbar/products/smartbusinessanalytics.html" %}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="col-menu col-md-3">
                    {% smartbusinesslaw_menus as menus %}
                    {% for menu in menus %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/index/navbar/products/smartbusinesslaw.html" %}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="col-menu col-md-3">
                    {% smartbusinesstechnologies_menus as menus %}
                    {% for menu in menus %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/index/navbar/products/smartbusinesstechnologies.html" %}
                    </div>
                    {% endfor %}
                  </div>
               
                </div>
                <!--=== end row ===-->
              </li>
            </ul>
          </li>
          <li class="dropdown megamenu-fw"> <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">Solutions</a>
            <ul class="dropdown-menu megamenu-content" role="menu">
              <li>
                <div class="row">
                  <div class="col-menu col-md-3">
                    {% bycategory_menus as menus %}
                    {% for menu in menus %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/index/navbar/solutions/bycategory.html" %}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="col-menu col-md-3">
                    {% byorganizationtype_menus as menus2 %}
                    {% for menu in menus2 %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/index/navbar/solutions/byorganizationtype.html" %}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="col-menu col-md-3">
                    {% bycustomer_menus as menus %}
                    {% for menu in menus %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/index/navbar/solutions/bycustomer.html" %}
                    </div>
                    {% endfor %}
                  </div>

               
                </div>
                <!--=== end row ===-->
              </li>
            </ul>
          </li>
          <li class="dropdown megamenu-fw"> <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">Training & Jobs</a>
            <ul class="dropdown-menu megamenu-content" role="menu">
              <li>
                <div class="row">
                  <div class="col-menu col-md-3">
                    {% training_menus as menus %}
                    {% for menu in menus %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/index/navbar/training/training.html" %}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="col-menu col-md-3">
                    {% jobs_menus as menus2 %}
                    {% for menu in menus2 %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/index/navbar/training/jobs.html" %}
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <!--=== end row ===-->
              </li>
            </ul>
          </li>
          <li class="dropdown megamenu-fw"> <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">Resources</a>
            <ul class="dropdown-menu megamenu-content" role="menu">
              <li>
                <div class="row">
                  <div class="col-menu col-md-3">
                    {% ourvision_menus as menus %}
                    {% for menu in menus %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/index/navbar/resources/ourvision.html" %}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="col-menu col-md-3">
                    {% topics_menus as menus2 %}
                    {% for menu in menus2 %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/index/navbar/resources/topics.html" %}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="col-menu col-md-3">
                    {%  articles_menus as menus %}
                    {% for menu in menus %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/index/navbar/resources/articles.html" %}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="col-menu col-md-3">
                    {% news_menus as menus %}
                    {% for menu in menus %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/index/navbar/resources/news.html" %}
                    </div>
                    {% endfor %}
                  </div>
               
                </div>
                <!--=== end row ===-->
              </li>
            </ul>
          </li>
          <li class="dropdown megamenu-fw"> <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">Parthers</a>
            <ul class="dropdown-menu megamenu-content" role="menu">
              <li>
                <div class="row">
                  <div class="col-menu col-md-3">
                    {% forcustomers_menus as menus %}
                    {% for menu in menus %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/index/navbar/forcustomers.html" %}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="col-menu col-md-3">
                    {% forpartners_menus as menus2 %}
                    {% for menu in menus2 %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/index/navbar/forpartners.html" %}
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <!--=== end row ===-->
              </li>
            </ul>
          </li>
          <li class="dropdown megamenu-fw"> <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">About</a>
            <ul class="dropdown-menu megamenu-content" role="menu">
              <li>
                <div class="row">
                  <div class="col-menu col-md-3">
                    {% aboutus_menus as menus %}
                    {% for menu in menus %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/index/navbar/aboutus/aboutus.html" %}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="col-menu col-md-3">
                    {% opensource_menus as menus2 %}
                    {% for menu in menus2 %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/index/navbar/aboutus/opensource.html" %}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="col-menu col-md-3">
                    {% companydetails_menus as menus %}
                    {% for menu in menus %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/index/navbar/aboutus/companydetails.html" %}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="col-menu col-md-3">
                    {% communities_menus as menus %}
                    {% for menu in menus %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/index/navbar/aboutus/communities.html" %}
                    </div>
                    {% endfor %}
                  </div>
               
                </div>
                <!--=== end row ===-->
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!--=== /.navbar-collapse ===-->
    </div>
  </nav>