
{% load wagtailcore_tags wagtailimages_tags %}
{% load widget_tweaks %}
{% load webapp_0_tags %}
{% load static %}


  <!--=== Flex Slider Start ===-->
  <section class="pt-0 pb-0">
    <div class="slider-bg ">
      <ul class="slides">
        <!--=== SLIDE 1 ===-->
        <li>
          <div class="slide-img" style="background:url('{% static 'assets/images/slides/home-bg-1.jpg' %}') center center / cover scroll no-repeat;"></div>
          <div class="hero-text-wrap">
            <div class="hero-text white-color">
              <div class="container text-center">
                <h2 class="white-color font-500 letter-spacing-5">Digital Theme</h2>
                <h1 class="white-color text-uppercase font-700">For Web & Mobile</h1>
                <h3 class="white-color font-400">We develop products and services for ecommerce, insurance <br>and a handful of other key industries.</h3>
                <p class="text-center mt-30"><a class="btn btn-white btn-rounded btn-animate"><span>Start a Project <i class="icofont icofont-arrow-right"></i></span></a> </p>
              </div>
            </div>
          </div>
        </li>
        <!--=== SLIDE 2 ===-->
        <li>
          <div class="slide-img" style="background:url({% static 'assets/images/slides/home-bg-2.jpg' %}) center center / cover scroll no-repeat;"></div>
          <div class="hero-text-wrap gradient-overlay-bg">
            <div class="hero-text">
              <div class="container text-center">
                <h2 class="white-color font-500 letter-spacing-5">Visualizing Innovation</h2>
                <h1 class="white-color text-uppercase font-700">Experience Design Agency</h1>
                <p class="text-center mt-30"><a class="btn btn-dark btn-rounded btn-animate"><span>Learn More <i class="icofont icofont-arrow-right"></i></span></a> <a class="btn btn-outline-white btn-rounded">Contact Us</a> </p>
              </div>
            </div>
          </div>
        </li>
        <!--=== SLIDE 3 ===-->
        <li>
          <div class="slide-img" style="background:url('assets/images/slides/home-bg-3.jpg') center center / cover scroll no-repeat;"></div>
          <div class="hero-text-wrap">
            <div class="hero-text">
              <div class="container text-center">
                <h2 class="white-color font-500 letter-spacing-5">Scoda Creative Agency</h2>
                <h1 class="white-color text-uppercase font-700">Business Consulting</h1>
                <h3 class="white-color font-400">A digital agency focused on UX / UI and strategic development.</h3>
                <p class="text-center mt-30"><a class="btn btn-color btn-rounded">See Our Work</a> </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>