{% extends "base2.html" %}
{% load i18n wagtailcore_tags wagtailimages_tags %}
{% load widget_tweaks %}
{% load static %}


{% block content %}
  <h1>Blog</h1>


  {% for post in posts %}
    <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
    <p>{{ post.date }}</p>
    <p>{{ post.intro }}</p>  
  {% endfor %}



  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="post">
            <div class="post-img"> <img class="img-responsive" src="assets/images/post/post-01.jpg" alt=""/> </div>
            <div class="post-info">
              <h3><a href="blog-grid.html">{{ page.title }}</a></h3>
              <h6>{{ page.date}}</h6>
              <p>{{ page.intro }}</p>

              <a class="readmore white-color" href="blog-standard.html#"><span>Read More</span> <i class="icofont icofont-simple-right"></i></a> </div>
          </div>
          <div class="blog-standard">
            <p>{{ page.body|richtext }}</p>
            <blockquote>
              <p>Donec dui ipsum, pulvinar sit amet mattis quis, dapibus eu libero. Curabitur lobortis, diam non semper placerat, ipsum felis pulvinar magna, quis dapibus enim velit vel lorem.</p>
            </blockquote>
          </div>
          <div class="post-tags"> <a href="blog-standard.html#">Design</a> <a href="blog-standard.html#">Branding</a> <a href="blog-standard.html#">Stationery</a> <a href="blog-standard.html#">Development</a> <a href="blog-standard.html#">Concept</a> </div>
          <div class="post-controls">
            <div class="post-share">
              <ul>
                <li> Share: </li>
                <li> <a href="blog-standard.html#"><i class="icofont icofont-facebook"></i></a> </li>
                <li> <a href="blog-standard.html#"><i class="icofont icofont-twitter"></i></a> </li>
                <li> <a href="blog-standard.html#"><i class="icofont icofont-linkedin"></i></a> </li>
              </ul>
            </div>
            <div class="comments-info"> <a href="blog-standard.html#"> <i class="icofont icofont-comment"></i> 0</a> </div>
          </div>
          <div id="respond" class="comment-respond">
            <h2 id="reply-title" class="comment-reply-title">Post a comment</h2>
            <form method="post" id="form-comments" class="comment-form">
              <div class="form-group">
                <textarea name="comment" id="comment-field" class="form-control" placeholder="Comment" rows="5"></textarea>
              </div>
              <div class="row-form row">
                <div class="col-form col-md-6">
                  <div class="form-group">
                    <input name="author" type="text" class="form-control" placeholder="Name">
                  </div>
                </div>
                <div class="col-form col-md-6">
                  <div class="form-group">
                    <input name="email" type="text" class="form-control" placeholder="Email">
                  </div>
                </div>
              </div>
              <p class="form-submit">
                <input name="submit" type="submit" id="submit-btn" class="btn btn-color btn-square" value="Post Comment">
                <input type="hidden" name="comment_post_ID">
                <input type="hidden" name="comment_parent" id="comment_parent" value="0">
              </p>
            </form>
          </div>
        </div>
        <!--=== Left Side End===-->
        <div class="col-md-3 col-md-offset-1 right-col-rv">
          <div class="widget sidebar_widget">
            <form class="search-form" method="get">
              <input type="text" name="name" class="form-control search-field" id="search" placeholder="Type what it's your mind...">
              <button type="submit" class="icofont icofont-search-1 search-submit"></button>
            </form>
          </div>
          <div class="widget widget_about">
            <h4 class="widget-title">About</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat.</p>
          </div>
          <div class="widget sidebar_widget widget_archive">
            <h4 class="widget-title">Archive</h4>
            <ul>
              <li> <a href="blog-standard.html#">January 2017</a> </li>
              <li> <a href="blog-standard.html#">May 2016</a> </li>
              <li> <a href="blog-standard.html#">June 2015</a> </li>
              <li> <a href="blog-standard.html#">Febuary 2017</a> </li>
              <li> <a href="blog-standard.html#">April 2015</a> </li>
            </ul>
          </div>
          <div class="widget sidebar_widget widget_categories">
            <h4 class="widget-title">Categories</h4>
            <ul>
              <li> <a href="blog-standard.html#">Business</a> </li>
              <li> <a href="blog-standard.html#">Health</a> </li>
              <li> <a href="blog-standard.html#">Motion Graphic</a> </li>
              <li> <a href="blog-standard.html#">Conecpt Design</a> </li>
              <li> <a href="blog-standard.html#">Lifestyle</a> </li>
            </ul>
          </div>
          <div class="widget sidebar_widget widget_tag_cloud">
            <h4 class="widget-title">Tags</h4>
            <div class="post-tags"> <a href="blog-standard.html#">Design</a> <a href="blog-standard.html#">Envato</a> <a href="blog-standard.html#">Photography</a> <a href="blog-standard.html#">Videos</a> <a href="blog-standard.html#">Creative</a> <a href="blog-standard.html#">Apps</a> </div>
          </div>
        </div>
        <!--=== Right Side End ===-->
      </div>
    </div>
  </section>
{% endblock %}

