{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}

{% include 'shop/header.html' %}
<section class="title-hero-bg blog-cover-bg" data-stellar-background-ratio="0.2">
  <div class="container">
    <div class="page-title text-center">
      <h1>Blog Carousel</h1>
      <h4 class="text-uppercase mt-30 white-color">Checkout Our Latest Posts</h4>
    </div>
  </div>
</section>

<section class="pt-0">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 section-heading">
        <h2 class="text-uppercase">Pricing Rounded</h2>
        <h4 class="text-uppercase source-font">- Choosase Youras Plan -</h4>
      </div>
    </div>
    <div class="row mt-50">
      <div class="col-md-3 pricing-table col-sm-6">
        <div class="pricing-box border-radius-25">
          <h4>Started</h4>
          <h2><sup>$</sup><span>0.99</span></h2>
          <ul>
            <li>512 GB Ram</li>
            <li>50 GB Disk</li>
            <li>1 User</li>
            <li>4TB Bandwidth</li>
          </ul>
          <div class="pricing-box-bottom"> <a href="pricing-tables.html#" class="btn btn-color btn-circle"><span>Subscribe Now</span></a> </div>
        </div>
      </div>
      <div class="col-md-3 pricing-table col-sm-6">
        <div class="pricing-box border-radius-25">
          <h4>Basic</h4>
          <h2><sup>$</sup><span>19.99</span></h2>
          <ul>
            <li>512 GB Ram</li>
            <li>80 GB Disk</li>
            <li>2 User</li>
            <li>4TB Bandwidth</li>
          </ul>
          <div class="pricing-box-bottom"> <a href="pricing-tables.html#" class="btn btn-color btn-circle"><span>Subscribe Now</span></a> </div>
        </div>
      </div>
      <div class="col-md-3 pricing-table-featured col-sm-6">
        <div class="pricing-box border-radius-25">
          <h4>Standard</h4>
          <h2><sup>$</sup><span>39.99</span></h2>
          <div class="pricicng-feature">
            <ul>
              <li>768 GB Ram</li>
              <li>80 GB Disk</li>
              <li>3 User</li>
              <li>Full Data Security</li>
              <li>Unlimited Questions</li>
              <li>6TB Bandwidth</li>
            </ul>
          </div>
          <div class="pricing-box-bottom"> <a href="pricing-tables.html#" class="btn btn-color btn-circle"><span>Subscribe Now</span></a> </div>
        </div>
      </div>
      <div class="col-md-3 pricing-table col-sm-6">
        <div class="pricing-box border-radius-25">
          <h4>Pro</h4>
          <h2><sup>$</sup><span>49.99</span></h2>
          <ul>
            <li>1 TB Ram</li>
            <li>1 TB Disk</li>
            <li>4 User</li>
            <li>4TB Bandwidth</li>
          </ul>
          <div class="pricing-box-bottom"> <a href="pricing-tables.html#" class="btn btn-color btn-circle"><span>Subscribe Now</span></a> </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <div id="sidebar">
    <h3>Categories</h3>
    <ul>
      <li {% if not category %}class="selected"{% endif %}>
        <a href="{% url "shop:product_list" %}">All</a>
      </li>
      {% for c in categories %}
        <li {% if category.slug == c.slug %}class="selected"{% endif %}>
          <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div id="main" class="product-list">
    <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
    {% for product in products %}
      <div class="item">
        <a href="{{ product.get_absolute_url }}">
          <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        </a>
        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
        ${{ product.price }}
      </div>
    {% endfor %}
  </div>
{% endblock %}