{% load wagtailcore_tags wagtailimages_tags %}
{% load widget_tweaks %}
{% load webapp_0_tags %}
{% load static %}
{% load menu_tags %}
  
  
  <!--=== Footer Start ===-->
  <footer class="footer" id="footer-fixed">
    <div class="footer-main">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="widget widget-text">
              <div class="logo logo-footer"><a href="index.html"> <img class="logo logo-display" src="{% static 'img/logo_smartquailWhite.png' %}" alt=""></a> </div>
              <p>{{page.bio | richtext }}</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-2">
            <div class="widget widget-links">
              {% workwithus_menus as menus %}
              {% for menu in menus %}
              <h5 class="widget-title">{{menu.heading}}</h5>
              <ul>
              {% flat_menu menu.handle template="webapp/index/footer/workwithus.html" %}
              </ul>
              {% endfor %}
            </div>
          </div>
          <div class="col-sm-6 col-md-2">
            <div class="widget widget-links">
              {% usefullinks_menus as menus %}
              {% for menu in menus %}
              <h5 class="widget-title">{{menu.heading}}</h5>
              <ul>
              {% flat_menu menu.handle template="webapp/index/footer/usefullinks.html" %}
              </ul>
              {% endfor %}
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="widget widget-text widget-links">
              <h5 class="widget-title">Contact Us</h5>
              <ul>
                <li> <i class="icofont icofont-google-map"></i> <a href="index.html#">Francisco Salazar E14-19, Quito-Ecuador</a> </li>
                <li> <i class="icofont icofont-iphone"></i> <a href="index.html#">+593 963 52162</a> </li>
                <li> <i class="icofont icofont-mail"></i> <a href="index.html#">info@smartquail.io</a> </li>
                <li> <i class="icofont icofont-globe"></i> <a href="index.html#">www.smartquail.io</a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <ul class="social-media">
              <li><img src="{% static 'img/logo.png' %}" width="35px"></li>
              <li><a href="index.html#" class="icofont icofont-link-altedin"></a></li>
              <li><a href="index.html#" class="icofont icofont-facebook"></a></li>
              <li><a href="index.html#" class="icofont icofont-twitter"></a></li>
              <li><a href="index.html#" class="icofont icofont-pinterest"></a></li>
              <li><a href="index.html#" class="icofont icofont-instagram"></a></li>
            </ul>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="copy-right text-right">© 2023 SmartQuail.S.A.S All rights reserved</div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--=== Footer End ===-->